{% from "macros/fields.tmpl" import render_input_field, render_submit %}
{% extends "shared/layout.tmpl" %}

{% block title %}Vysledek vystup{% endblock %}

{% block content %}
 <table class="table-bordered">
        <thead class="text-center">
            <tr><td>ID</td><td>CAS</td><td>TEPLOTA</td></tr>
        </thead>
    {% for n in data %}
        <tbody class="text-center">
        <tr><td>{{ n.id }}</td>
        <td>{{ n.time }}</td>
        <td>{{ n.teplota }}</td></tr>
        </tbody>
    {% endfor %}
    </table>

{% endblock %}
